body
{
    font-family: "Fira sans", sans-serif;
    font-weight: 400;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;    
    text-decoration: none;
    background-color: #13131D;
    overflow: auto;
}

.container
{
    width: 70%;
    max-width: 90%;
    margin: 0 auto;
}


a 
{
    color: #fff;
    text-decoration: none;
}

h2 
{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 500;
}

h3
{
    font-size: 1.8rem;
    text-transform: uppercase;
}


header
{
    margin: 0;
    margin-bottom: 2.2em;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

header #logo
{
    font-size: 3rem;
    font-weight: bold;
}

nav 
{
    text-align: right;
    vertical-align: middle;
}

nav ul 
{
    list-style: none;
    
}

nav ul li
{
    display: inline-block;
    margin-left: 1rem;
    padding: 1rem 0;
}

nav ul li a
{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

nav ul li a:hover
{
    color: #22BA64;
}

nav #btnMenu
{
    display: none;
}


#primeiroParagrafo
{
    background-color: #22BA64;
    padding: 0.4rem;
    color: #fff;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
main
{
    text-align: center;
    color: #fff;
    background-color: #13131D;
    margin-top: 0;
    padding: 1.3rem 0;
}


#seta
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}


#sobreMim
{
    display: flex;
    justify-content: space-evenly;
    background-color: #1B1A27;
    margin: 0.5rem 0 2rem 0;
    padding-top: 0;
}

#sobreMim ul 
{
    list-style: none;
}

#sobreMim li 
{
    padding: 5px;
}

#informacoesPessoais
{
    text-align: right;
   
}

#informacoesPessoais img
{
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 100%;
    margin: 0;
    padding: 0;
}

#informacoesPessoais ul li 
{
    font-weight: 300;
}

#informacoesPessoais span
{
    color: #22BA64;
}

#skills h3
{
    text-align: left;
    margin-left: 40px;
}

#skills p 
{
    margin: 0;
    padding: 0;
    font-weight: 300;
}
progress 
{
    width: 11.5rem;
    height: 10px;
    border: none;
    border-radius: none;
    background-color: #22BA64;
}

#portifolio
{
    background-color: transparent;
}

#hobby
{
    background-color: #1B1A27;
    padding: 20px;
}

#hobbys
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hobbys section 
{
    text-align: center;
    flex: 1;
    margin: 0 5px;
}

p > i 
{
    font-size: 3.8em;
    color: #22BA64;
}

#hobbys p 
{
    font-weight: 300;
 
}

#clientes
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 4.5em 0;
}

#clientes h3 
{
    margin: 0; 
    padding: 0;
    line-height: 2;
}
#clientes p
{
    margin: 0;
    font-weight: 300;
}

#clientes p > i
{
    font-size: 3em;
}

#contacto 
{
    background-color: #1B1A27;
    padding: 30px 0 50px 0;
}

#endereco
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#endereco p > i 
{
    font-size: 2.5em;
    margin: 0;
    padding: 0;
}

#endereco h4 
{
    font-size: 1.5em;
    margin: 0;
    padding: 0; 
    line-height: 2;
    font-weight: 500;
}

#endereco p
{
    margin: 0; 
    padding: 0;
    font-weight: 300;
}

#endereco a
{
    text-decoration: none;
    color: #fff;
}

form
{
    margin: 3.4em 0;
}

form textarea
{
    display: block;
    width: 70%;
    max-width: 70%;
    margin: 2em auto;
    background-color: #13131D;
    border: none;
    overflow: auto;
}

form input[type="name"], input[type="email"]
{
    width: 33.5%;
    max-width: 33.5%;
    overflow: auto;
    display: inline-block;
    padding: 8px;
    background-color: #13131D;
    border: none;
}

form input[type="submit"]
{
    padding: 15px;
    color: #fff;
    background-color:#22BA64;
    border: none;
    font-weight: 500;
    font-size: 0.9em;
    border: none;
    cursor: pointer;
    transition: background-color  0.3s ease-out, color  0.3s ease-out;
}

form input[type="submit"]:hover
{
    color: #22BA64;
    background-color:#fff;
    transition: background-color 0.3s ease-in, color  0.3s ease-in;;
}

footer
{
    padding: 1rem;
    text-align: center;
}

footer p
{
    display: inline-block;
    
    margin: 0.5rem 1rem;
}

@media (max-width:850px)
{
    .container
    {
        width: 90%;
    }

    header
    {
        position: relative;
        
    }

    header nav 
    {
        justify-content: right;
    }

    header nav #btnMenu
    {
        display: block;
        width: 8rem;
        background-color: #fff;
        color: rgba(34, 186, 100, 1);
        padding: 0;
        border-radius: none;
        cursor: pointer;
        text-align: center;
        border: 1px solid #292727;
        transition: background-color 0.3s ease-out;
    }

    header nav #btnMenu:hover
    {
        transition: background-color 0.3s ease-in;
    }


    .fa-bars
    {
        width: 5rem;
        font-weight: bold;
        font-size: 2rem;
        box-shadow: 0 0 4px rgba(247, 247, 247, 0.5);
        padding: 0.5rem  1rem;
        background-color: rgb(255, 255, 255);
        transition: box-shadow 0.3s linear;
    }

    .fa-bars:active
    {
        box-shadow: inset 0 0 4px rgba(12, 12, 12, 0.5);
        transition: box-shadow 0.3s linear;
        transform: scale(1.1);
    }

  
    header nav ul {
        max-height: 0;
        opacity: 0;
        width: 100%;
        position: absolute;
        z-index: 99999999;
        top: 5rem;
        right: 0;
        margin: 0;
        padding: 0;
        background-color: #1B1A27;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
    
    header nav ul.ativo {
        max-height: 32rem; 
        opacity: 1;
        transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  
    }

    header nav li
    {
        
        display: block;
        text-align: center;
        border-bottom: 1.5px solid rgba(200, 200, 200, 0.5);
        text-align: center;
        font-size: 1.3rem;
    }

    header nav li a
    {
        padding: 1rem 2rem;
    }
    header nav li a:hover 
    {
        background-color: #13131D;
    }
    
    #primeiroParagrafo
    {
        width: 80%;
    }

    main #sobre
    {
        margin-top: 1rem;
    }
    
    #sobreMim
    {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    #informacoesPessoais ul
    {
    text-align: justify;
   
    }

    #image
    {
        text-align: center;
    }

    #skills 
    {
        margin: 0 auto;
        text-align: center; 
    }
    
    #skills h3
    {
        text-align: center;
    }

    #hobbys
    {
        flex-direction: column;
    }

    #clientes
    {
        flex-direction: column;
    }

    #clientes section 
    {
        margin: 20px 0;
    }

    #endereco
    {
        flex-direction: column;
    }


    #endereco section
    {
        margin: 20px 0;
    }


    form 
    {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
    }

    form input[type="name"], input[type="email"]
    {
        width: 90%;
        max-width: 90%;
        padding: 1rem 0.5rem;
        margin: 0.6rem 0;
    }

    form textarea
    {
        
        width: 90%;
        max-width: 90%;
       
    }


    footer p
    {
        display: block;
        text-align: center;
    }

  
}